<main class='anime-container text-center'>
  <div class='anime-form'>
    <form action='/login' method='POST' class='needs-validation' novalidate>
      <h1 class='h3 mb-3 fw-normal'>Please sign in</h1>
      <div class="form-floating mb-1">
        <input class="form-control" type='text' id="username" name='name' placeholder='Username' required>
        <label for="username">Username</label>
      </div>
      <div class="form-floating">
        <input class="form-control mb-3" id='password' type="password" name='password' placeholder='Password' required>
        <label for="password">Password</label>
      </div>
      <input class='w-100 btn btn-lg btn-outline-secondary' type="submit" value='Login'>
    <form>
  </div>
</main>