<h1><%= @anime.name %></h1>
<img src="<%= @anime.image_url %>">
<p><%= @anime.synopsis %></p>

<h3>Find a new anime?</h3>
<a href='/animes/search'>Remove</a>

<h2>Please fill out your info!</h2>
<form action='/animes/<%= @anime.slug %>/new' method="POST">
  <label for="user_content">Your Review:</label>
  <textarea id='user_content' name='user_content' rows="5" cols="33" required></textarea><br>
  <label for="user_rating">Choose your rating</label>
  <select id="user_rating" name="user_rating" required>
    <option value="user_rating">1</option>
  </select><br>
  <input type='submit' value='Save Anime'>
</form>