<br>
<br>
<br>

<form action="/animes/search" method="POST">
    <h3>Please search for a anime name</h3>
    <input type='text' name='name' placeholder='Anime Title' required><br>
    <input type='submit' value='Search'>
  </form>