<main class='anime-container text-center'>
  <div class='anime-form'>
  <form action="/animes/search" method="POST" class='needs-validation' novalidate>
    <h2>Please Enter a Anime name</h2>
    <div class="form-floating mb-3">
      <input class="form-control" type='text' id='name' name='name' placeholder='Anime Title' required>
      <label for="name">Anime Title</label>
    </div>
      <input class='w-100 btn btn-lg btn-outline-secondary' type='submit' value='Search'>
  </form>
  </div>
</main>