<main class='text-center anime-container d-flex w-100 h-100 p-3 mx-auto flex-column'>
  <div class='px-4'>
    <img class="mb-4" src="images/dragon_home.png" alt="" width="400" height="400">
    <h1>Welcome to Anime Ryu!</h1>
    <p class='lead'>Please Login or Sign Up to continue</p>
    <p class='lead'>
      <a href="/login" class="btn btn-lg btn-outline-dark">Login</a>
      <a href="/sign-up" class="btn btn-lg btn-outline-dark">Sign Up</a>
    </p>
  </div>
</main>